<nav class="navbar navbar-expand-lg navbar-dark navbar-bg-dark-1">
        <!-- <div class="first_container"> -->
        <a class="navbar-brand" href="index.html">the gent's haven</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
    
          <!-- Navbar Tags Section -->
    
          <div class="navbar_tags">
            <ul class="navbar-nav">
              <li><a href="#about">about</a></li>
              <li><a href="#services">services</a></li>
              <li><a href="#products">products</a></li>
              <li><a href="#gallery">gallery</a></li>
              <li><a href="#news">news</a></li>
              <li><a href="#contact">contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    